.header {

  display: flex;
  background-color: #025e73;
  margin: 0;
  padding: 1rem;
  margin-bottom: 2rem;
}

.header h1{
  color: white;
  text-align: center;
  width: 100%;
  font-size: 2rem;
}

