.keyboard {
  display: block;
  grid-column: 1/4;
  grid-row: 2/3;
  height: 100%;
  text-align: center;
  color: white;
  width: 100%;
  font-size: 30vh;
  overflow-y: auto;

}
.keys{
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.keys button{
  /* margin:.3rem; */
  flex: 1;
  font-size: 1.5rem;
}