.textArea {
  grid-column: 1/4;
  grid-row: 1/2;
  text-transform: uppercase;
  height: 100%;
  margin-bottom: 2rem;
}
.txt_field {
  font-family: inherit;
  display: block;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  border: 2px solid #037f8c;
  width: 100%;
  height: 100%;
  color: #025e73;
  font-size: 10vh;
  text-transform: uppercase;
}
.txt_field:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
