.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: #025e73;
  padding: 1rem;
  text-align: center;
  color: white;
}

.footer p {
  display: block;
  width: 100%;
  align-self: center;
  text-align: center;
  color: white;
  font-size: .8rem;
}
